$headercolor: #ffffff;
$footercolor: #414141;
$maincolor: #f6f6f6;
$linkcolor: #33c1e3;
$buttoncolor: #e85f61;
$textcolor: rgb(120, 120, 120);

$desktopbreak: 1200px;
$tabletbreak: 768px;
$mobilebreak: 480px;
$wrapperwidth: 1150px;

$headeravatar: 55px;
$headerheight: 80px;
$footerheight: 50px;
$navwidth: 275px;
$mainimage: 220px;
$paddingtop: 30px;
$paddingright: 65px;
$headlinefontsize: 35px;
$socialbutton: 35px;

html {
  width: 100%;
  height: 100%;
  background: $maincolor;
}
body {
  margin: 0;
  width: 100%;
  height: 100%;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: $headerheight;
  background-color: $headercolor;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
}
.wrapper {
  display: flex;
  width: $wrapperwidth;
}
.nav__wrapper {
  display: flex;
  width: $wrapperwidth;
}
.header__avatar-block {
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.header__ava {
  border-radius: 50%;
  width: $headeravatar;
  height: $headeravatar;
  margin-right: 20px;
  overflow: hidden;
  border-width: 2px;
  border-color: rgb(215, 215, 215);
  border-style: solid;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(190, 190, 190);
}
.image__width {
  width: 100%;
}
.header__name {
  font-size: 16px;
  font-family: "Open Sans Regular";
  color: rgb(65, 65, 65);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
.header__contacts-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header__contacts {
  margin: 0;
  line-height: 20px;
  font-size: 20px;
  font-family: "Fira Sans Bold";
  color: $linkcolor;
}
.dots {
  margin: 0;
  letter-spacing: 2px;
  line-height: 0;
  font-size: 10px;
  font-family: "Fira Sans Bold";
  color: $linkcolor;
}
.main {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  width: 100%;
  min-height: 450px;
}
.navigation {
  min-width: $navwidth;
  min-height: 50px;
}
.navigation__list {
  margin: 0;
  padding: $paddingtop 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-family: "Fira Sans Regular";
  list-style: none;
}
.navigation__item {
  margin-bottom: 20px;
}
.navigation__list li a {
  line-height: 10px;
  font-size: 20px;
  color: $footercolor;
  text-decoration: none;
  outline: none;
}
.navigation__list li:hover>a {
  color: $linkcolor;
}
.main__aboutme {
  display: flex;
  width: 100%;
}
.main__imagewrap {
  padding: $paddingtop $paddingright;
}
.main__aboutme-image {
  width: $mainimage;
  height: $mainimage;
  border-radius: 50%;
  overflow: hidden;
}
.main__aboutme-article {
  display: flex;
  flex-grow: 1;
}
.main__article-wrap {
  padding: $paddingtop 0px;
  width: 100%;
}
.main__headline {
  font-size: $headlinefontsize;
  font-weight: 500;
  font-family: "Fira Sans Medium";
  margin: 0 0 20px 0;
}
.main__aboutme-text {
  height: 68%;
  min-width: $mobilebreak;
  overflow-y: scroll;
}
.main__text {
  margin: 0 8px 0 0;
  font-size: 22px;
  line-height: 20px;
  font-family: "Fira Sans Regular";
  color: $textcolor;
}
.main__content {
  display: flex;
  flex-grow: 1;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: $footerheight;
  background-color: $footercolor;
  z-index: 15;
}
.footer__information {
  display: flex;
  flex-grow: 1;
}
.main__button {
  padding: 25px 10px 0 0;
  display: flex;
  justify-content: flex-end;
}
.download__button {
  text-decoration: none;
  outline: none;
  text-align: center;
  font-size: 20px;
  font-family: "Open Sans Bold";
  color: $buttoncolor;
  line-height: 40px;
  //height: 80px;
  width: 220px;
  display: inline-block;
  border-radius: 40px;
  border-width: 2px;
  border-color: $buttoncolor;
  border-style: solid;
}
.download__button:hover {
  background: $buttoncolor;
  color: $headercolor;
  border-color: $headercolor;
}
.icon-margin::before {
  margin-right: 10px;
}
.footer__social-list {
  padding: 0;
  margin: 0;
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; 
}
.footer__social-list li {
  display: inline-block; 
}
.footer__button {
  display: block;
  padding-right: 8px;
  height: $socialbutton;
  width: $socialbutton;
  text-decoration: none;
  outline: none;
}
.footer__button--fb {
  background: url(../../images/fb.png) no-repeat;
  background-size: contain;
}
.footer__button--fb:hover {
  background: url(../../images/fb1.png) no-repeat;
  background-size: contain;
}
.footer__button--vk {
  background: url(../../images/vk.png) no-repeat;
  background-size: contain;
}
.footer__button--vk:hover {
  background: url(../../images/vk1.png) no-repeat;
  background-size: contain;
}
.footer__button--tw {
  background: url(../../images/tw.png) no-repeat;
  background-size: contain;
}
.footer__button--tw:hover {
  background: url(../../images/tw1.png) no-repeat;
  background-size: contain;
}
#scroll__style::-webkit-scrollbar-track
{
  background-color: #f6f6f6;
  border-radius: 3.5vmin;
}

#scroll__style::-webkit-scrollbar
{
  width: 0.4vmax;
  background-color: #f6f6f6;
}

#scroll__style::-webkit-scrollbar-thumb
{
  background-color: rgb(216, 216, 216);
  border-radius: 3.5vmin;
}