doctype html
html
  include ../blocks/head.jade
    block title
      title My page
  body
    .container
      include ../blocks/header.jade
      include ../blocks/main.jade
      include ../blocks/footer.jade
