footer.footer
  .wrapper
    .footer__information
      p &copy; Конфиденциальность сайта
    .footer_social
      ul.footer__social-list
        li.footer__social-item
          a.footer__button.footer__button--fb(href='#')
        li.footer__social-item
          a.footer__button.footer__button--vk(href='#')
        li.footer__social-item
          a.footer__button.footer__button--tw(href='#')