header.header
  .wrapper
    .header__avatar-block
      .header__ava
        img(src='../../images/heygirl.png' alt='hey').image__width
      span.header__name Анатолий Анатольев
    .header__contacts-block
      span.header__contacts Мои контакты

